/* Variables */
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  section {
    padding: 120px 0;
  }
  
  .section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto;
  }
  
  .section-subtitle {
    font-family: "Noto Serif", serif;
    color: #777777;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 80px;
  }
  
  h2 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    color: #777777;
  }

/* Header */
.splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Background_Image.png");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 700px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .splash .navigation h5 {
    font-family: "Allura", cursive;
    font-size: 26px;
    color: #FED136;
    margin: 0;
    padding-left: 230px;
    padding-top: 44px;
    display: inline-block;
  }
  
  .splash .navigation ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding-top: 55px;
    padding-right: 180px;
  }
  
  .splash .navigation ul li {
    display: inline-block;
    padding-right: 40px;
  }
  
  .splash .navigation ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
  }
  
  .splash .splash-inner {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    width: 100%;
  }
  
  .splash .splash-inner h3 {
    font-size: 40px;
    font-weight: 300;
    font-family: "Noto Serif", serif;
    margin: 0 auto;
  }
  
  .splash .splash-inner h1 {
    font-size: 75px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-bottom: 65px;
  }
  
  .splash .splash-inner .btn {
    background: #FED136;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
    padding: 20px 50px;
  }

  /* Services */
  .container {
    text-align: center;
  }
  
  .container .services-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  
  .container .services-row .services-box {
    margin: auto 22px;
    max-width: 350px;
  }
  
  .container .services-row .services-box i {
    height: 67px;
    width: 67px;
    font-size: 35px;
    color: #FED136;
    border-radius: 50%;
    border: 3px solid #FED136;
    padding-top: 12px;
    margin-bottom: 12px;
  }
  
/* Portfolio */
  .portfolio {
    background-color: #F7F7F7;
  }
  
  .portfolio .portfolio-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 75px;
  }
  
  .portfolio .portfolio-row .portfolio-box {
    background-color: #FFFFFF;
    padding-bottom: 25px;
    margin-top: 50px;
  }
  
  .portfolio .portfolio-row .portfolio-box img {
    height: 80%;
    width: 100%;
    object-fit: cover;
  }
  
  .portfolio .portfolio-row .portfolio-box h2 {
    color: #333333;
    padding-top: 10px;
    margin-bottom: 2px;
  }
  
  .portfolio .portfolio-row .portfolio-box p {
    color: #737373;
    font-family: "Noto Serif", serif;
    margin-top: 0;
  }
  