/* Variables */
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  section {
    padding: 120px 0;
  }
  
  .section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto;
  }
  
  .section-subtitle {
    font-family: "Noto Serif", serif;
    color: #777777;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 80px;
  }
  
  h2 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    font-family: "Roboto Slab", serif;
    color: #777777;
  }
  
